/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'ArialUnicodeMS';
  src: url('fonts/Arial Unicode.ttf');
}

.font-arialUnicodeMS {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-arialUnicodeMS {
    font-family: 'ArialUnicodeMS', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* App-wide text styles specified in React Studio */
.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.4px;
  font-weight: 400;
}
.App .headlineFont * {
  font-size: 19.4px;
}
.App .navBar {
  background-color: #bee9ee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 14px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  margin-top: 14px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.App .layoutFlow {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  float: left;
}
.App .layoutFlow:after {
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.App .compContent {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .hasNestedComps .foreground {
  position: absolute;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* This component has a fixed-size layout */
  .InputField {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 225px */
  }
  .InputField > .background > .containerMinHeight {
    min-height: 23px;
  }


  .InputField .state0_elRectangleCopy {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 224px;
    height: 20px;
  }

/* This component has a fixed-size layout */
  .InputField {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 225px */
  }
  .InputField > .background > .containerMinHeight {
    min-height: 23px;
  }


  .InputField .state1_elRectangleCopy2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 102px;
    height: 20px;
  }

/* This component has a fixed-size layout */
  .InputField {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 225px */
  }
  .InputField > .background > .containerMinHeight {
    min-height: 23px;
  }


  .InputField .state2_elRectangle4 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 224px;
    height: 20px;
  }

/* This component has a fixed-size layout */
  .InputField {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 225px */
  }
  .InputField > .background > .containerMinHeight {
    min-height: 23px;
  }


  .InputField .state3_elRectangleCopy3 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 224px;
    height: 20px;
  }

/* This component has a fixed-size layout */
  .InputField {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 225px */
  }
  .InputField > .background > .containerMinHeight {
    min-height: 23px;
  }


  .InputField .state4_elRectangleCopy4 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 224px;
    height: 20px;
  }

/* This component has a fixed-size layout */
  .Header {
    min-height: 34px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 322px */
  }
  .Header > .background > .containerMinHeight {
    min-height: 34px;
  }


  .Header .state0_elRectangle2 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 34px;
  }


  .Header .state0_elTextBlock {
    overflow: hidden;
    position: absolute;
    left: 11px;
    top: 0px;
    bottom: 0;
    height: 25pt;
    width: 128px;
  }

/* This component has a fixed-size layout */
  .Header {
    min-height: 34px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 322px */
  }
  .Header > .background > .containerMinHeight {
    min-height: 34px;
  }


  .Header .state1_elRectangleCopy {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 34px;
  }


  .Header .state1_elTextBlockCopy {
    overflow: hidden;
    position: absolute;
    left: 11px;
    top: 0px;
    bottom: 0;
    height: 25pt;
    width: 128px;
  }


  .Header .state1_elRectangle {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 102px;
    height: 34px;
  }


  .Header .state1_elText {
    overflow: hidden;
    position: absolute;
    right: 18px;
    top: 4px;
    width: 68px;
    height: 26px;
  }

/* This component has a fixed-size layout */
  .Logo {
    min-height: 34px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 182px */
  }
  .Logo > .background > .containerMinHeight {
    min-height: 34px;
  }


  .Logo .elDeutscheBank {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 180px;
    height: 36px;
  }

/* This component has a fixed-size layout */
  .Button {
    min-height: 33px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 223px */
  }
  .Button > .background > .containerMinHeight {
    min-height: 33px;
  }


  .Button .state0_elRectangle4 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 224px;
    height: 34px;
  }


  .Button .state0_elTextBlock {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 4px;
    width: 100%;
    height: 31px;
  }

/* This component has a fixed-size layout */
  .Button {
    min-height: 33px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 223px */
  }
  .Button > .background > .containerMinHeight {
    min-height: 33px;
  }


  .Button .state1_elRectangleCopy {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 224px;
    height: 34px;
  }


  .Button .state1_elTextBlockCopy {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 4px;
    width: 100%;
    height: 31px;
  }

/* This component has a fixed-size layout */
  .Button {
    min-height: 33px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 223px */
  }
  .Button > .background > .containerMinHeight {
    min-height: 33px;
  }


  .Button .state2_elRectangleCopy2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 224px;
    height: 34px;
  }


  .Button .state2_elTextBlockCopy2 {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 4px;
    width: 100%;
    height: 31px;
  }


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
@media (min-width: 568px) {
  .SignupScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .SignupScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .SignupScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elHeader {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .SignupScreen > .layoutFlow > .elHeader > * { 
    width: 100%;
  height: 34px;
  }
  
  .SignupScreen > .layoutFlow > .elHeader > .background > .containerMinHeight {
    min-height: 34px;
  }

@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elHeader {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .SignupScreen > .layoutFlow > .elHeader > * { 
    width: 100%;
  height: 34px;
  }
  
  .SignupScreen > .layoutFlow > .elHeader > .background > .containerMinHeight {
    min-height: 34px;
  }

}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elHeader {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .SignupScreen > .layoutFlow > .elHeader > * { 
    width: 100%;
  height: 34px;
  }
  
  .SignupScreen > .layoutFlow > .elHeader > .background > .containerMinHeight {
    min-height: 34px;
  }

}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elHeader {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .SignupScreen > .layoutFlow > .elHeader > * { 
    width: 100%;
  height: 34px;
  }
  
  .SignupScreen > .layoutFlow > .elHeader > .background > .containerMinHeight {
    min-height: 34px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elComp22 {
    position: relative;
    margin-top: 0px;
    width: 182px;
    margin-left: calc(50.0% - 91px);
  }
  .SignupScreen > .layoutFlow > .elComp22 > * { 
  width: 182px;
  height: 34px;
  }
  
  .SignupScreen > .layoutFlow > .elComp22 > .background > .containerMinHeight {
    min-height: 34px;
  }

@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elComp22 {
    position: relative;
    margin-top: 14px;
    width: 182px;
    margin-left: calc(50.0% - 91px);
  }
  .SignupScreen > .layoutFlow > .elComp22 > * { 
  width: 182px;
  height: 34px;
  }
  
  .SignupScreen > .layoutFlow > .elComp22 > .background > .containerMinHeight {
    min-height: 34px;
  }

}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elComp22 {
    position: relative;
    margin-top: 0px;
    width: 180px;
    margin-left: calc(50.0% - 90px);
  }
  .SignupScreen > .layoutFlow > .elComp22 > * { 
  width: 180px;
  height: 34px;
  }
  
  .SignupScreen > .layoutFlow > .elComp22 > .background > .containerMinHeight {
    min-height: 34px;
  }

}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elComp22 {
    position: relative;
    margin-top: 9px;
    width: 180px;
    margin-left: calc(50.0% - 90px);
  }
  .SignupScreen > .layoutFlow > .elComp22 > * { 
  width: 180px;
  height: 34px;
  }
  
  .SignupScreen > .layoutFlow > .elComp22 > .background > .containerMinHeight {
    min-height: 34px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elUsername {
    position: relative;
    margin-top: 18px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elUsername > * { 
  width: 224px;
  }
  
@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elUsername {
    position: relative;
    margin-top: 18px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elUsername > * { 
  width: 224px;
  }
  
}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elUsername {
    position: relative;
    margin-top: 18px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elUsername > * { 
  width: 223px;
  }
  
}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elUsername {
    position: relative;
    margin-top: 18px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elUsername > * { 
  width: 223px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elInputField7 {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField7 > * { 
  width: 224px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField7 > .background > .containerMinHeight {
    min-height: 23px;
  }

@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elInputField7 {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField7 > * { 
  width: 224px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField7 > .background > .containerMinHeight {
    min-height: 23px;
  }

}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elInputField7 {
    position: relative;
    margin-top: 9px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField7 > * { 
  width: 223px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField7 > .background > .containerMinHeight {
    min-height: 23px;
  }

}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elInputField7 {
    position: relative;
    margin-top: 7px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField7 > * { 
  width: 223px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField7 > .background > .containerMinHeight {
    min-height: 23px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elPassword {
    position: relative;
    margin-top: 4px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elPassword > * { 
  width: 224px;
  }
  
@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elPassword {
    position: relative;
    margin-top: 4px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elPassword > * { 
  width: 224px;
  }
  
}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elPassword {
    position: relative;
    margin-top: 14px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elPassword > * { 
  width: 223px;
  }
  
}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elPassword {
    position: relative;
    margin-top: 16px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elPassword > * { 
  width: 223px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elInputField8 {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField8 > * { 
  width: 224px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField8 > .background > .containerMinHeight {
    min-height: 23px;
  }

@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elInputField8 {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField8 > * { 
  width: 224px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField8 > .background > .containerMinHeight {
    min-height: 23px;
  }

}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elInputField8 {
    position: relative;
    margin-top: 4px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField8 > * { 
  width: 223px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField8 > .background > .containerMinHeight {
    min-height: 23px;
  }

}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elInputField8 {
    position: relative;
    margin-top: 7px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField8 > * { 
  width: 223px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField8 > .background > .containerMinHeight {
    min-height: 23px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elLastName {
    position: relative;
    margin-top: 7px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elLastName > * { 
  width: 224px;
  }
  
@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elLastName {
    position: relative;
    margin-top: 7px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elLastName > * { 
  width: 224px;
  }
  
}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elLastName {
    position: relative;
    margin-top: 21px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elLastName > * { 
  width: 223px;
  }
  
}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elLastName {
    position: relative;
    margin-top: 26px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elLastName > * { 
  width: 223px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elLastName2 {
    position: relative;
    margin-top: -18px;
    width: 102px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elLastName2 > * { 
  width: 102px;
  }
  
@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elLastName2 {
    position: relative;
    margin-top: -18px;
    width: 102px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elLastName2 > * { 
  width: 102px;
  }
  
}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elLastName2 {
    position: relative;
    margin-top: -25px;
    width: 101px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elLastName2 > * { 
  width: 101px;
  }
  
}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elLastName2 {
    position: relative;
    margin-top: -22px;
    width: 101px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elLastName2 > * { 
  width: 101px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elInputField5 {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField5 > * { 
  width: 224px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField5 > .background > .containerMinHeight {
    min-height: 23px;
  }

@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elInputField5 {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField5 > * { 
  width: 224px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField5 > .background > .containerMinHeight {
    min-height: 23px;
  }

}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elInputField5 {
    position: relative;
    margin-top: 12px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField5 > * { 
  width: 223px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField5 > .background > .containerMinHeight {
    min-height: 23px;
  }

}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elInputField5 {
    position: relative;
    margin-top: 9px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField5 > * { 
  width: 223px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField5 > .background > .containerMinHeight {
    min-height: 23px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elInputField6 {
    position: relative;
    margin-top: -22px;
    width: 224px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elInputField6 > * { 
  width: 224px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField6 > .background > .containerMinHeight {
    min-height: 23px;
  }

@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elInputField6 {
    position: relative;
    margin-top: -22px;
    width: 224px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elInputField6 > * { 
  width: 224px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField6 > .background > .containerMinHeight {
    min-height: 23px;
  }

}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elInputField6 {
    position: relative;
    margin-top: -22px;
    width: 223px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elInputField6 > * { 
  width: 223px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField6 > .background > .containerMinHeight {
    min-height: 23px;
  }

}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elInputField6 {
    position: relative;
    margin-top: -23px;
    width: 223px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elInputField6 > * { 
  width: 223px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField6 > .background > .containerMinHeight {
    min-height: 23px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elAddress {
    position: relative;
    margin-top: 9px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elAddress > * { 
  width: 224px;
  }
  
@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elAddress {
    position: relative;
    margin-top: 9px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elAddress > * { 
  width: 224px;
  }
  
}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elAddress {
    position: relative;
    margin-top: 12px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elAddress > * { 
  width: 223px;
  }
  
}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elAddress {
    position: relative;
    margin-top: 14px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elAddress > * { 
  width: 223px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elInputField {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField > * { 
  width: 224px;
  height: 20px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField > .background > .containerMinHeight {
    min-height: 21px;
  }

@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elInputField {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField > * { 
  width: 224px;
  height: 20px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField > .background > .containerMinHeight {
    min-height: 21px;
  }

}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elInputField {
    position: relative;
    margin-top: 9px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField > * { 
  width: 223px;
  height: 20px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField > .background > .containerMinHeight {
    min-height: 21px;
  }

}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elInputField {
    position: relative;
    margin-top: 7px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField > * { 
  width: 223px;
  height: 20px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField > .background > .containerMinHeight {
    min-height: 21px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elEmail {
    position: relative;
    margin-top: 9px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elEmail > * { 
  width: 224px;
  }
  
@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elEmail {
    position: relative;
    margin-top: 9px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elEmail > * { 
  width: 224px;
  }
  
}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elEmail {
    position: relative;
    margin-top: 18px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elEmail > * { 
  width: 223px;
  }
  
}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elEmail {
    position: relative;
    margin-top: 16px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elEmail > * { 
  width: 223px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elInputField3 {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField3 > * { 
  width: 224px;
  height: 20px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField3 > .background > .containerMinHeight {
    min-height: 21px;
  }

@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elInputField3 {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField3 > * { 
  width: 224px;
  height: 20px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField3 > .background > .containerMinHeight {
    min-height: 21px;
  }

}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elInputField3 {
    position: relative;
    margin-top: 0px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField3 > * { 
  width: 223px;
  height: 20px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField3 > .background > .containerMinHeight {
    min-height: 21px;
  }

}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elInputField3 {
    position: relative;
    margin-top: 9px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField3 > * { 
  width: 223px;
  height: 20px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField3 > .background > .containerMinHeight {
    min-height: 21px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elContact {
    position: relative;
    margin-top: 9px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elContact > * { 
  width: 224px;
  }
  
@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elContact {
    position: relative;
    margin-top: 9px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elContact > * { 
  width: 224px;
  }
  
}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elContact {
    position: relative;
    margin-top: 18px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elContact > * { 
  width: 223px;
  }
  
}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elContact {
    position: relative;
    margin-top: 16px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elContact > * { 
  width: 223px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elComp > * { 
  width: 224px;
  height: 20px;
  }
  
  .SignupScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 21px;
  }

@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elComp > * { 
  width: 224px;
  height: 20px;
  }
  
  .SignupScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 21px;
  }

}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: 0px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elComp > * { 
  width: 223px;
  height: 20px;
  }
  
  .SignupScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 21px;
  }

}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: 9px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elComp > * { 
  width: 223px;
  height: 20px;
  }
  
  .SignupScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 21px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elPostal {
    position: relative;
    margin-top: 14px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elPostal > * { 
  width: 224px;
  }
  
@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elPostal {
    position: relative;
    margin-top: 14px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elPostal > * { 
  width: 224px;
  }
  
}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elPostal {
    position: relative;
    margin-top: 30px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elPostal > * { 
  width: 223px;
  }
  
}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elPostal {
    position: relative;
    margin-top: 28px;
    width: 223px;
    margin-left: calc(50.0% - 111px);
  }
  .SignupScreen > .layoutFlow > .elPostal > * { 
  width: 223px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elPan {
    position: relative;
    margin-top: -18px;
    width: 102px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elPan > * { 
  width: 102px;
  }
  
@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elPan {
    position: relative;
    margin-top: -18px;
    width: 102px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elPan > * { 
  width: 102px;
  }
  
}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elPan {
    position: relative;
    margin-top: -22px;
    width: 101px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elPan > * { 
  width: 101px;
  }
  
}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elPan {
    position: relative;
    margin-top: -18px;
    width: 101px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elPan > * { 
  width: 101px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elInputField4 {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField4 > * { 
  width: 224px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField4 > .background > .containerMinHeight {
    min-height: 23px;
  }

@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elInputField4 {
    position: relative;
    margin-top: 0px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField4 > * { 
  width: 224px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField4 > .background > .containerMinHeight {
    min-height: 23px;
  }

}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elInputField4 {
    position: relative;
    margin-top: 8px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField4 > * { 
  width: 223px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField4 > .background > .containerMinHeight {
    min-height: 23px;
  }

}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elInputField4 {
    position: relative;
    margin-top: 5px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elInputField4 > * { 
  width: 223px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField4 > .background > .containerMinHeight {
    min-height: 23px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elInputField2 {
    position: relative;
    margin-top: -25px;
    width: 224px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elInputField2 > * { 
  width: 224px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField2 > .background > .containerMinHeight {
    min-height: 23px;
  }

@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elInputField2 {
    position: relative;
    margin-top: -25px;
    width: 224px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elInputField2 > * { 
  width: 224px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField2 > .background > .containerMinHeight {
    min-height: 23px;
  }

}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elInputField2 {
    position: relative;
    margin-top: -25px;
    width: 223px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elInputField2 > * { 
  width: 223px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField2 > .background > .containerMinHeight {
    min-height: 23px;
  }

}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elInputField2 {
    position: relative;
    margin-top: -25px;
    width: 223px;
    margin-left: calc(50.0% + 11px);
  }
  .SignupScreen > .layoutFlow > .elInputField2 > * { 
  width: 223px;
  height: 23px;
  }
  
  .SignupScreen > .layoutFlow > .elInputField2 > .background > .containerMinHeight {
    min-height: 23px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SignupScreen > .layoutFlow > .elComp2 {
    position: relative;
    margin-top: 22px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elComp2 > * { 
  width: 224px;
  height: 34px;
  }
  
  .SignupScreen > .layoutFlow > .elComp2 > .background > .containerMinHeight {
    min-height: 33px;
  }

@media (min-width: 568px) {
  .SignupScreen > .layoutFlow > .elComp2 {
    position: relative;
    margin-top: 22px;
    width: 224px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elComp2 > * { 
  width: 224px;
  height: 34px;
  }
  
  .SignupScreen > .layoutFlow > .elComp2 > .background > .containerMinHeight {
    min-height: 33px;
  }

}
@media (min-width: 768px) {
  .SignupScreen > .layoutFlow > .elComp2 {
    position: relative;
    margin-top: 40px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elComp2 > * { 
  width: 223px;
  height: 34px;
  }
  
  .SignupScreen > .layoutFlow > .elComp2 > .background > .containerMinHeight {
    min-height: 33px;
  }

}
@media (min-width: 1024px) {
  .SignupScreen > .layoutFlow > .elComp2 {
    position: relative;
    margin-top: 40px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .SignupScreen > .layoutFlow > .elComp2 > * { 
  width: 223px;
  height: 34px;
  }
  
  .SignupScreen > .layoutFlow > .elComp2 > .background > .containerMinHeight {
    min-height: 33px;
  }

}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
@media (min-width: 568px) {
  .LoginScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: -0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .LoginScreen > .layoutFlow > .elComp > * { 
    width: 100%;
  height: 34px;
  }
  
  .LoginScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 34px;
  }

@media (min-width: 568px) {
  .LoginScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: -0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .LoginScreen > .layoutFlow > .elComp > * { 
    width: 100%;
  height: 34px;
  }
  
  .LoginScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 34px;
  }

}
@media (min-width: 768px) {
  .LoginScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: -0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .LoginScreen > .layoutFlow > .elComp > * { 
    width: 100%;
  height: 34px;
  }
  
  .LoginScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 34px;
  }

}
@media (min-width: 1024px) {
  .LoginScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: -0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .LoginScreen > .layoutFlow > .elComp > * { 
    width: 100%;
  height: 34px;
  }
  
  .LoginScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 34px;
  }

}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .layoutFlow > .elComp2 {
    position: relative;
    margin-top: 370px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .LoginScreen > .layoutFlow > .elComp2 > * { 
  width: 223px;
  height: 32px;
  }
  
  .LoginScreen > .layoutFlow > .elComp2 > .background > .containerMinHeight {
    min-height: 33px;
  }

@media (min-width: 568px) {
  .LoginScreen > .layoutFlow > .elComp2 {
    position: relative;
    margin-top: 370px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .LoginScreen > .layoutFlow > .elComp2 > * { 
  width: 223px;
  height: 32px;
  }
  
  .LoginScreen > .layoutFlow > .elComp2 > .background > .containerMinHeight {
    min-height: 33px;
  }

}
@media (min-width: 768px) {
  .LoginScreen > .layoutFlow > .elComp2 {
    position: relative;
    margin-top: 368px;
    width: 222px;
    margin-left: calc(50.0% - 111px);
  }
  .LoginScreen > .layoutFlow > .elComp2 > * { 
  width: 222px;
  height: 32px;
  }
  
  .LoginScreen > .layoutFlow > .elComp2 > .background > .containerMinHeight {
    min-height: 33px;
  }

}
@media (min-width: 1024px) {
  .LoginScreen > .layoutFlow > .elComp2 {
    position: relative;
    margin-top: 368px;
    width: 222px;
    margin-left: calc(50.0% - 111px);
  }
  .LoginScreen > .layoutFlow > .elComp2 > * { 
  width: 222px;
  height: 32px;
  }
  
  .LoginScreen > .layoutFlow > .elComp2 > .background > .containerMinHeight {
    min-height: 33px;
  }

}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .layoutFlow > .elComp3 {
    position: relative;
    margin-top: -83px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .LoginScreen > .layoutFlow > .elComp3 > * { 
  width: 223px;
  height: 32px;
  }
  
  .LoginScreen > .layoutFlow > .elComp3 > .background > .containerMinHeight {
    min-height: 33px;
  }

@media (min-width: 568px) {
  .LoginScreen > .layoutFlow > .elComp3 {
    position: relative;
    margin-top: -83px;
    width: 223px;
    margin-left: calc(50.0% - 112px);
  }
  .LoginScreen > .layoutFlow > .elComp3 > * { 
  width: 223px;
  height: 32px;
  }
  
  .LoginScreen > .layoutFlow > .elComp3 > .background > .containerMinHeight {
    min-height: 33px;
  }

}
@media (min-width: 768px) {
  .LoginScreen > .layoutFlow > .elComp3 {
    position: relative;
    margin-top: -82px;
    width: 222px;
    margin-left: calc(50.0% - 111px);
  }
  .LoginScreen > .layoutFlow > .elComp3 > * { 
  width: 222px;
  height: 32px;
  }
  
  .LoginScreen > .layoutFlow > .elComp3 > .background > .containerMinHeight {
    min-height: 33px;
  }

}
@media (min-width: 1024px) {
  .LoginScreen > .layoutFlow > .elComp3 {
    position: relative;
    margin-top: -82px;
    width: 222px;
    margin-left: calc(50.0% - 111px);
  }
  .LoginScreen > .layoutFlow > .elComp3 > * { 
  width: 222px;
  height: 32px;
  }
  
  .LoginScreen > .layoutFlow > .elComp3 > .background > .containerMinHeight {
    min-height: 33px;
  }

}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .screenFgContainer > .foreground > .elRectangle {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 34px;
    width: 100%;
    height: 518px;
  }
@media (min-width: 568px) {
  .LoginScreen > .screenFgContainer > .foreground > .elRectangle {
    left: 0px;
    right: 0px;
    top: 34px;
    width: 100%;
    height: 270px;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .screenFgContainer > .foreground > .elRectangle {
    left: 0px;
    right: 0px;
    top: 34px;
    width: 100%;
    height: 974px;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .screenFgContainer > .foreground > .elRectangle {
    left: 0px;
    right: 0px;
    top: 34px;
    width: 100%;
    height: 718px;
  }
}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .screenFgContainer > .foreground > .elUsernameField {
    position: absolute;
    left: calc(50.0% + 0px - 112px);
    top: 190px;
    width: 224px;
    height: 29px;
  }
@media (min-width: 568px) {
  .LoginScreen > .screenFgContainer > .foreground > .elUsernameField {
    left: calc(50.0% + 0px - 112px);
    top: 190px;
    width: 224px;
    height: 29px;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .screenFgContainer > .foreground > .elUsernameField {
    left: calc(50.0% + 0px - 111px);
    top: 190px;
    width: 223px;
    height: 29px;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .screenFgContainer > .foreground > .elUsernameField {
    left: calc(50.0% + 0px - 111px);
    top: 189px;
    width: 223px;
    height: 29px;
  }
}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .screenFgContainer > .foreground > .elUsername {
    position: absolute;
    left: calc(50.0% + 0px - 112px);
    top: 158px;
    width: 224px;
    height: 28px;
  }
@media (min-width: 568px) {
  .LoginScreen > .screenFgContainer > .foreground > .elUsername {
    left: calc(50.0% + 0px - 112px);
    top: 158px;
    width: 224px;
    height: 28px;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .screenFgContainer > .foreground > .elUsername {
    left: calc(50.0% + 0px - 111px);
    top: 156px;
    width: 223px;
    height: 27px;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .screenFgContainer > .foreground > .elUsername {
    left: calc(50.0% + 0px - 111px);
    top: 156px;
    width: 223px;
    height: 27px;
  }
}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .screenFgContainer > .foreground > .elPasswordField {
    position: absolute;
    left: calc(50.0% + 0px - 112px);
    top: 262px;
    width: 224px;
    height: 29px;
  }
@media (min-width: 568px) {
  .LoginScreen > .screenFgContainer > .foreground > .elPasswordField {
    left: calc(50.0% + 0px - 112px);
    top: 262px;
    width: 224px;
    height: 29px;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .screenFgContainer > .foreground > .elPasswordField {
    left: calc(50.0% + 0px - 111px);
    top: 260px;
    width: 223px;
    height: 29px;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .screenFgContainer > .foreground > .elPasswordField {
    left: calc(50.0% + 0px - 111px);
    top: 260px;
    width: 223px;
    height: 29px;
  }
}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .screenFgContainer > .foreground > .elPassword {
    position: absolute;
    left: calc(50.0% + 0px - 112px);
    top: 236px;
    width: 224px;
    height: 28px;
  }
@media (min-width: 568px) {
  .LoginScreen > .screenFgContainer > .foreground > .elPassword {
    left: calc(50.0% + 0px - 112px);
    top: 236px;
    width: 224px;
    height: 28px;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .screenFgContainer > .foreground > .elPassword {
    left: calc(50.0% + 0px - 111px);
    top: 234px;
    width: 223px;
    height: 27px;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .screenFgContainer > .foreground > .elPassword {
    left: calc(50.0% + 0px - 111px);
    top: 234px;
    width: 223px;
    height: 27px;
  }
}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .screenFgContainer > .foreground > .elComp4 {
    position: absolute;
    left: calc(50.0% + 0px - 91px);
    top: 80px;
    width: 182px;
    height: 34px;
  }
  .LoginScreen > .screenFgContainer > .foreground > .elComp4 > .background > .containerMinHeight {
    min-height: 34px;
  }

@media (min-width: 568px) {
  .LoginScreen > .screenFgContainer > .foreground > .elComp4 {
    left: calc(50.0% + 0px - 91px);
    top: 80px;
    width: 182px;
    height: 34px;
  }
  .LoginScreen > .screenFgContainer > .foreground > .elComp4 > .background > .containerMinHeight {
    min-height: 34px;
  }

}
@media (min-width: 768px) {
  .LoginScreen > .screenFgContainer > .foreground > .elComp4 {
    left: calc(50.0% + 0px - 90px);
    top: 80px;
    width: 180px;
    height: 34px;
  }
  .LoginScreen > .screenFgContainer > .foreground > .elComp4 > .background > .containerMinHeight {
    min-height: 34px;
  }

}
@media (min-width: 1024px) {
  .LoginScreen > .screenFgContainer > .foreground > .elComp4 {
    left: calc(50.0% + 0px - 90px);
    top: 80px;
    width: 180px;
    height: 34px;
  }
  .LoginScreen > .screenFgContainer > .foreground > .elComp4 > .background > .containerMinHeight {
    min-height: 34px;
  }

}


/* Narrowest size for this element's responsive layout */
  .UserDetailScreen > .background > .elRectangle {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
@media (min-width: 568px) {
  .UserDetailScreen > .background > .elRectangle {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .UserDetailScreen > .background > .elRectangle {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .UserDetailScreen > .background > .elRectangle {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .UserDetailScreen > .layoutFlow > .elHeader {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .UserDetailScreen > .layoutFlow > .elHeader > * { 
    width: 100%;
  height: 34px;
  }
  
  .UserDetailScreen > .layoutFlow > .elHeader > .background > .containerMinHeight {
    min-height: 34px;
  }

@media (min-width: 568px) {
  .UserDetailScreen > .layoutFlow > .elHeader {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .UserDetailScreen > .layoutFlow > .elHeader > * { 
    width: 100%;
  height: 34px;
  }
  
  .UserDetailScreen > .layoutFlow > .elHeader > .background > .containerMinHeight {
    min-height: 34px;
  }

}
@media (min-width: 768px) {
  .UserDetailScreen > .layoutFlow > .elHeader {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .UserDetailScreen > .layoutFlow > .elHeader > * { 
    width: 100%;
  height: 34px;
  }
  
  .UserDetailScreen > .layoutFlow > .elHeader > .background > .containerMinHeight {
    min-height: 34px;
  }

}
@media (min-width: 1024px) {
  .UserDetailScreen > .layoutFlow > .elHeader {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .UserDetailScreen > .layoutFlow > .elHeader > * { 
    width: 100%;
  height: 34px;
  }
  
  .UserDetailScreen > .layoutFlow > .elHeader > .background > .containerMinHeight {
    min-height: 34px;
  }

}


/* Narrowest size for this element's responsive layout */
  .UserDetailScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 11px;
    width: calc(100.0% - 23px);
  }
  .UserDetailScreen > .layoutFlow > .elComp > * { 
    width: 100%;
  height: 160px;
  }
  
  .UserDetailScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 160px;
  }

@media (min-width: 568px) {
  .UserDetailScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 11px;
    width: calc(100.0% - 23px);
  }
  .UserDetailScreen > .layoutFlow > .elComp > * { 
    width: 100%;
  height: 160px;
  }
  
  .UserDetailScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 160px;
  }

}
@media (min-width: 768px) {
  .UserDetailScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 11px;
    width: calc(100.0% - 23px);
  }
  .UserDetailScreen > .layoutFlow > .elComp > * { 
    width: 100%;
  height: 160px;
  }
  
  .UserDetailScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 160px;
  }

}
@media (min-width: 1024px) {
  .UserDetailScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 11px;
    width: calc(100.0% - 23px);
  }
  .UserDetailScreen > .layoutFlow > .elComp > * { 
    width: 100%;
  height: 160px;
  }
  
  .UserDetailScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 160px;
  }

}

/* This component has a fixed-size layout */
  .DetialSection {
    min-height: 160px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 299px */
  }
  .DetialSection > .background > .containerMinHeight {
    min-height: 160px;
  }


  .DetialSection .elRectangle {
    /* position: absolute; */
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 99px;
  }

